/*Reset*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ol,
ul,
menu {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  height: auto;
  max-inline-size: 100%;
}

legend {
  padding: 0;
  display: table;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input,
button {
  font-family: inherit;
  font-weight: inherit;
}

/*Styling*/
body {
  background-color: hsl(216, 12%, 8%);
  color: hsl(217, 12%, 63%);
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 1.5em;
}

main {
  background: radial-gradient(circle at top, #232a34, #181e27);
  padding: 2em;
  border-radius: 30px;
  max-width: 412px;
}

section .icon-container {
  background-color: hsl(213, 19%, 18%);
  border-radius: 100%;
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
}
section h1 {
  font-size: 1.75rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
section p {
  font-size: 0.9375rem;
  color: hsl(217, 12%, 63%);
  font-weight: 400;
  line-height: 1.6;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5em;
}
.buttons-container button {
  background-color: hsl(213, 19%, 18%);
  color: hsl(217, 12%, 63%);
  height: 51px;
  width: 51px;
  border-radius: 26px;
  border: none;
}
.buttons-container button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(213, 19%, 18%);
}
.buttons-container .active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(213, 19%, 18%);
}

.button-submit {
  background-color: hsl(25, 97%, 53%);
  width: 100%;
  min-height: 45px;
  border-radius: 23px;
  border: 0;
  font-size: 0.9375rem;
  color: hsl(213, 19%, 18%);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.button-submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(213, 19%, 18%);
}

.thanks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.thanks-container .selectedResult {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  padding: 0.25em 1.25em 0.5em;
  border-radius: 1em;
}
.thanks-container img {
  width: "162px";
  height: "108px";
}

.hbox\(32\) {
  height: 32px;
}

.hbox\(24\) {
  height: 24px;
}

.hbox\(16\) {
  height: 16px;
}

.hidden {
  display: none;
}