/*Reset*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
:after,
:before {
  box-sizing: border-box;
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}

/*Colors*/
$dark-cyan: hsl(158, 36%, 37%);
$very-dark-cyan: #1a4032;
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
$montserrat: "Montserrat", sans-serif;
$fraunces: "Fraunces", serif;
$weight-medium: 500;
$weight-bold: 700;
$body: 1.4rem;
$price: 3.2rem;
$header: 2.8rem;
$caption: 1.2rem;

/*Styling*/

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: $body;
  background-color: $cream;
}

main {
  display: flex;
  flex-direction: column;
  margin: 16px;
  color: $dark-grayish-blue;
  font-family: $montserrat;

  img {
    border-radius: 10px 10px 0 0;
    max-inline-size: 100%;
    block-size: auto;
  }

  .image-desktop {
    display: none;
  }
}

.content {
  background-color: $white;
  border-radius: 0 10px 10px 0;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .category {
    font-size: $caption;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  h1 {
    font : {
      family: $fraunces;
      weight: $weight-bold;
      size: $header;
    }
    color: $very-dark-blue;
    line-height: 1.25;
    padding-inline-end: 3rem;
  }

  p {
    line-height: 1.6;
  }

  .price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .sale {
    color: $dark-cyan;
    font : {
      size: $price;
      family: $fraunces;
      weight: $weight-bold;
    }
  }
  .original {
    text-decoration: line-through;
  }

  button {
    background-color: $dark-cyan;
    min-height: 4.8rem;
    border-radius: 0.8rem;
    color: $white;
    font-weight: $weight-medium;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    &:hover {
      background-color: $very-dark-cyan;
    }
  }
}

@media (min-width: 640px) {
  body {
    display: grid;
    place-items: center;
    flex-direction: column;
    height: 100vh;
  }

  main {
    max-width: 600px;
    flex-direction: row;

    img {
      width: 300px;
      display: inline;
      border-radius: 10px 0 0 10px;
    }

    .image-mobile {
      display: none;
    }

    .image-desktop {
      display: block;
    }

    .content {
      border-radius: 0 10px 10px 0;
    }
  }
}
